.button{
  
    background-color: #6eccaf!important;
    align-self: flex-end;
    width: fit-content;
    margin-left: auto;
    
}

.txt-btn{
    color:#344d67;
}

.card{
    
    display: flex;
    background-color: #223142;
    width: fit-content;
    justify-content: center;
}

h3{
    width: 300px;
    text-align: center;
    color:#6eccaf
}


@media (max-width: 475px){
    .card{
        display: grid;
    }
} 