button{
    color:#344d67;
    background-color: #6eccaf;
    align-self: flex-end;
}

.card{
    display: flex;
    background-color: #223142;
    width: fit-content;
}

h3{
    width: 300px;
    text-align: center;
    color: #344d67
}