body{
    color:whitesmoke
}

.row{
    justify-content: center;
}

.alert{
    background-color: #6eccaf;
    color:#344d67;
}

p,i{
    margin-top: 0;
    margin-bottom: 0;
}


@media (max-width: 475px){
    .row{
        width:fit-content ;
    }

} 