
header{
    padding: 40px;
    background-color: #344d67;
}

nav{
    background-color:#344d67 ;
    position: sticky;
    z-index: 1;
    width: 100%!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.btn:hover{
    background-color:#6eccaf!important;
}
.btn{
    color:#b1f0dc
}

h1{
    color:#b1f0dc;
    font-size: 20px;
    
}

ul{
    list-style-type: none;
    display: flex;
    gap:30px;
    padding: 20px;

    
}

