.btn{
    color:#344d67;
   
    align-self:flex-end;
}

ul{
    gap: 0 !important;
}

.list-group-item{
    font-family:"Raleway",sans-serif;
    font-weight: 900;
    background-color: #223142;
    color: #f5f5f5 ;
    border-color: #ffffffe6;
}
.li:hover{
    background-color: #b1f0dc;
    
}

p{
    font-family:"Raleway",sans-serif;
    font-weight: 500;
}

@media (max-width: 475px){
    .cross{
        color: 6eccaf!important;
        border:solid #6eccaf;
        width: 50%;
        background-color: #344d67;
    }

} 